.env
.env.dev
docker-compose.yml
**appsettings.json
**appsettings.Development.json
.env.save*

garage.toml
node_modules
.astro
.sonarqube
obj
certs
**bin
**debug
**idea
**/Folder.DotSettings.user
prometheus.yml
!/grafana/provisioning/datasources/prometheus.yml
