@import "tailwindcss";
@import "@nuxt/ui";

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--ui-color-neutral-300)) transparent;
}

:root {
  --media-scroller-offset: 180px;
}

.dark * {
  scrollbar-color: rgb(var(--ui-color-neutral-700)) transparent;
}

/* WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--ui-color-neutral-300));
  border-radius: 9999px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(var(--ui-color-neutral-700));
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--ui-color-neutral-400));
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--ui-color-neutral-600));
}

.tooltip-content {
  box-shadow: none;
  height: auto;
  padding: 0;
  border-radius: 6px;
  user-select: none;
  pointer-events: auto;
  transform-origin: var(--reka-tooltip-content-transform-origin);
}

.tooltip-content[data-state="delayed-open"] {
  animation: scale-in 100ms ease-out;
}

.tooltip-content[data-state="closed"] {
  animation: scale-out 100ms ease-in;
}
